.refer-page {
	display: flex;
	height: 925px;
	background: #F8CC5D 0% 0% no-repeat padding-box;
	border: 1px solid #1F343E;
	opacity: 1;
	padding: 64px 400px;
}
.refer-email-board {
	width: 544px;
	height: 797px;
	background: #F8F4F9 0% 0% no-repeat padding-box;
	border: 1px solid #1F343E;
	border-radius: 16px;
	opacity: 1;
	padding: 64px;
	h1 {
		text-align: left;
		font: normal normal normal 48px/72px Caveat Brush;
		letter-spacing: 0px;
		color: #1F343E;
		text-transform: uppercase;
		opacity: 1;
		padding-bottom: 32px;
	}
	p {
		text-align: left;
		font: normal normal normal 20px/32px Noto Sans;
		letter-spacing: 0px;
		color: #1F343E;
		opacity: 1;
		padding-bottom: 64px;
	}
	input {
		width: 416px;
		height: 64px;
		background: #FFFFFF 0% 0% no-repeat padding-box;
		border: 1px solid #1F343E;
		border-radius: 8px;
		text-align: left;
		font: normal normal normal 20px/20px Noto Sans;
		letter-spacing: 0px;
		color: #6D7A80;
		opacity: 1;
		padding-left: 48px;
		&::placeholder {
			background: url('../../public/assets/email.svg') 16px no-repeat;
			font: normal normal normal 20px/20px Noto Sans;
			text-align: left;
			letter-spacing: 0px;
			color: #6D7A80;
			opacity: 1;
		}
	}
	button {
		background: #4EB3E3 0% 0% no-repeat padding-box;
		width: 416px;
		height: 64px;
		border: 1px solid #1F343E;
		border-radius: 8px;
		opacity: 1;
		text-align: center;
		font: normal normal bold 20px/32px Noto Sans;
		letter-spacing: 0px;
		color: #FFFFFF;
		opacity: 1;
		margin-top: 16px;
		&:hover {
			opacity: 0.7;
		}
	}
	p.refer-email-limits {
		padding-top: 153px;
		text-align: left;
		font: normal normal normal 16px/32px Noto Sans;
		letter-spacing: 0px;
		color: #6D7A80;
	}
}

.refer-steps-container {
	display: flex;
	flex-direction: column;
	padding: 64px 0 128px 128px;
	img {
		object-fit: contain;
		float: left;
		align-self: flex-start;
	}
	h3 {
		text-align: left;
		font: normal normal bold 20px/32px Noto Sans;
		letter-spacing: 1.6px;
		color: #4EB3E3;
		text-transform: uppercase;
		opacity: 1;
	}
	h1 {
		margin-top: 16px;
		margin-bottom: 16px;
		text-align: left;
		font: normal normal normal 32px/48px Caveat Brush;
		letter-spacing: 0px;
		color: #1F343E;
		text-transform: uppercase;
		opacity: 1;
	}
	p {
		text-align: left;
		font: normal normal normal 20px/32px Noto Sans;
		letter-spacing: 0px;
		color: #1F343E;
		opacity: 1;
	}
}
.step-one-img {
	padding-bottom: 72px;
	padding-right: 56px;
	padding-top: 8px;
}
.step-three-img {
	padding-bottom: 72px;
	padding-right: 56px;
	padding-top: 58px;
}
.step-two-img {
	padding-top: 24px;
	padding-bottom: 72px;
	padding-left: 56px;
}
.refer-step-three {
	padding-top: 32px;
}
.refer-step-two {
	img {
		object-fit: contain;
		float: right;
		align-self: flex-end;
	}
}
